.wazo{
    margin-top: 300px;
    margin-left: 1140px;
    position: absolute;
    font-size: xxx-large;
    color: aliceblue;
}
.masjid{
    margin-top: 300px;
    margin-left: 40px;
    position: absolute;
    font-size: xxx-large;
    color: aliceblue;
}
.dua{
margin-top: 200px;
margin-left: 365px;
    position: absolute;
    font-size: xxx-large;
    color: #ffd808;
}

